body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
}

header {
  margin-bottom: 40px;
  background-color: rgba(255, 255, 255, 0.75);
  background-clip: padding-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.05);
  position: sticky;
  display: block;
  float: none;
  line-height: 21px;
  z-index: auto;
}
.flex-wrap {
  display: grid !important;

  grid-gap: 2vw;
}
.flex-wrap > div {
  display: flex;
  flex-wrap: wrap;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto auto auto auto;
  font-size: 2vw;
  padding: 2em;
  background: none;
  text-align: center;
}
div {
  text-decoration: none !important;
}

.flex1 {
  display: flex !important;
  text-decoration: none !important;
  align-items: center !important;
}

.twitter {
  margin-left: auto;
}
.one {
  font-weight: 500;
  font-family: 'Alliance No.1';
  font-feature-settings: 'ss02' on, 'ss01' on;
  font-size: 16px !important;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  margin-right: 24px !important;
}

.home {
  text-decoration: none !important;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  margin-right: 24px !important;
}
.faq {
  text-decoration: none !important;
  margin-right: 24px !important;
}
.rss {
  text-decoration: none !important;
}
.twitter {
  text-decoration: none !important;
  margin-right: 24px !important;
}
.github {
  text-decoration: none !important;
  margin-right: 24px !important;
}
